
    <div class="card">
        <form>
            <image-picker></image-picker>
          <table>
                  <tr>
                      <td align="right">First Name:</td>
                      <td align="left"><input type="text" name="FirstName"/></td>
                  </tr>
                  <tr>
                      <td align="right">Last Name:</td>
                      <td align="left"><input type="text" name="LastName"/></td>
                  </tr>
                  <tr>
                      <td align="right">Email Address:</td>
                      <td align="left"><input type="text" name="EmailAddress"/></td>
                  </tr>
                  <tr>
                      <td align="right">Display Name:</td>
                      <td align="left"><input type="text" name="EmailAddress"/></td>
                  </tr>
                  <tr>
                      <td align="right">Password:</td>
                      <td align="left"><input type="text" name="LastName"/></td>
                  </tr>
                  <tr>
                      <td align="right">Confirm Password:</td>
                      <td align="left"><input type="text" name="EmailAddress"/></td>
                  </tr>
                  <tr>
                      <td align="right">Employee Number:</td>
                      <td align="left"><input type="text" name="EmailAddress"/></td>
                  </tr>
                  <tr height="10"><td></td></tr>
                  <tr>
                      <td align="right"></td>
                      <td align="left"><input type="submit" value="Create Page"/>
                  </tr>
              </table>
  
        </form>
      </div>
  
  