<p>
  create-user works!
</p>
<html>
  <head>
    <title>Warriors of the Hive</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-3" text-align="center">Welcome, Warrior of the Hive</h1>
      </div>
        <div class="card-group" alt="max-width=18rem">
          <div class="card">
            <img class="card-img-top" src="https://the-hive.bbd.co.za/images/characters/1.svg" alt="Card image cap">
            <div class="card-body">
              <h4 class="card-title">Adventure Mode</h4>
              <p class="card-text">Tackle the Adventure Quests to build your knowledge and follow the path of the Masters in this personalised continuous learning journey. Work through the three quest stages with the help of enlightened mission commanders.</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://the-hive.bbd.co.za/images/characters/2.svg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Level up</h4>
                <p class="card-text">Unlock achievements, earn points and raise through the ranks to prove your skill, adaptability and knowledge. Complete the 9 core tasks in a mix of single- and multi-player modes.</p>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="https://the-hive.bbd.co.za/images/characters/3.svg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Side Quests</h4>
                <p class="card-text">No hero’s journey is complete without side quests to fuel your ranking, prove your skill, share your wisdom and earn respect as someone who knows things worth knowing. There are four side quest categories.</p>
            </div>
          </div>
      
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Login</h4>
              <p class="card-text">To create a new account, enter your BBD username and select register. </p>
              <form (submit)='onCreateProfile(ProfileForm)' #ProfileForm>
                <mat-form-field class="form-group">
                  <input matInput name="username" ngModel type="text" placeholder="Username" #usernameInput required>
                  <mat-error *ngIf="usernameInput.invalid">Please enter a valid username</mat-error>
                </mat-form-field>
                <mat-form-field class="form-group">
                  <input matInput name="password" ngModel type="password" placeholder="Password" #passwordInput required>
                  <mat-error *ngIf="passwordInput.invalid">Please enter a valid password</mat-error>
                </mat-form-field>
                <div class="btn-goup-lg" role="group">
                  <button type="submit" class="btn btn-danger">Login</button>
                  <!-- <button type="button" class="btn btn-light">Register</button> -->
                </div>
              </form>
            </div>
          </div>
        </div>
    </div>
  </body>

</html>
